/* ------ Communes à tous les formulaires------*/
.sr-only {
  position: absolute;
  height: 1px;
  overflow: hidden;
}

#search-form input,
#search-form button,
#login-form input,
#registration-form input {
  width: 100%;
  margin: 0.3rem auto;
}

.item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* ----- Barre de recherche ------*/

#number-person {
  background-image: url("../img/icons/person.png");
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 2rem;
  padding-left: 3rem; /* pour ne pas que le texte chevauche l'icône */
}

#search-form {
  width: 100%;
}

#search-form .small-screen {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

/* ----Formulaires de connexion et d'inscription -----*/
#login-form {
  height: 20rem;
}

#registration-form {
  height: 27rem;
}

#registration-form .small-screen #feedback-form {
  height: 9rem;
}

/* La carte */
.card {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  margin-top: 2rem;
}

.card-header {
  padding: 1rem;
}

.card h3 {
  margin: 0;
}

.card-body {
  padding: 1rem;
}

.card-body p {
  margin-bottom: 0.2rem;
}

/* ------Message d'erreur des formulaires ------*/

#feedback-form {
  display: none; /* Sera affichée dynamiquement via JS */
  align-items: center;
  justify-content: center;
  min-height: 2.5rem; /* Pour garder l'espace même vide */
  height: 9rem;
  width: 100%;
  color: rgba(222, 21, 21, 0.92);
  font-size: 0.8em;
  margin: 0.5rem auto;
}

.input-error {
  border: 2px solid rgba(222, 21, 21, 0.92);
}

@media (min-width: 768px) {
  .card {
    max-width: 30rem;
    width: 80%;
  }

  #number-person {
    width: 15%;
  }

  #search-form .item {
    width: 100%;
  }

  #login-form input,
  #registration-form input {
    width: 90%;
  }

  #search-form button.btn {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  #search-form .big-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    gap: 0.2rem;
    margin: 0 auto;
    padding: 0 10px;
  }

  #search-form input,
  #search-form button,
  #login-form input,
  #registration-form input {
    margin: 0.5rem auto;
  }
}
