/* Section infos */
#infos {
  margin: 5rem auto;
}

#infos .img {
  display: flex;
  justify-content: center;
  align-items: center;

  background-size: cover; /* L'image couvre toute la section */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat;

  width: 100%;
  height: 20rem;
  max-width: 20rem;
  margin: 2rem auto; /* Centre l'image dans la section*/
}

#infos .text {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20rem;
  max-width: 20rem;
  margin: 2rem auto;
}

.eco {
  background-image: url("../img/photo/advantage1.webp");
}

.eco-money {
  background-image: url("../img/photo/advantage2.webp");
}

.social {
  background-image: url("../img/photo/advantage3.webp");
}

#infos .text {
  height: auto;
}

.driver img {
  width: 6rem;
  height: auto;
  margin-bottom: 2rem;
}

h3.small-screen {
  display: block;
}

h3.big-screen {
  display: none;
}

/* Ecran moyen*/
@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    gap: 5rem;
  }

  .advantages .box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #infos .img,
  #infos .text {
    min-width: 20rem;
    margin: 2rem auto;
  }

  #infos .img {
    height: 20rem;
  }

  #infos .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25rem;
  }
  #infos .small-screen .title {
    display: none;
  }

  h3.big-screen {
    display: block;
  }

  h3.small-screen {
    display: none;
  }
}
